# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

a
# Environment variables
.env
.env.local
.env.*.local

# Build output
/dist
/build
/.cache

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Coverage reports
coverage/

# Optional npm cache
.npm/
